# Fundamentals of Scientific Programming: Python and Jupyter Tutorial

This tutorial is written by [Seifeldin Abouelella](https://github.com/seifeldingamal) for EE_2.06.

## Introduction

Python is a popular programming language. It is used for many things including:
- Software Development.
- Mathematics and Scientific-Research.
- Artificial Inteligence and Machine-Learning.

## What is a Jupyter Notebook?

A Jupyter notebook is made up of a number of cells.<br>Each cell can contain Python code.<br>There are two main types of cells: `Code` cells and `Markdown` cells.<br>This particular cell is a `Markdown` cell.<br>You can execute a particular cell by double clicking on it (the highlight color will switch from blue to green) and pressing `Shift + Enter`.<br>When you do so, if the cell is a `Code` cell, the code in the cell will run, and the output of the cell will be displayed beneath the cell, and if the cell is a `Markdown` cell, the markdown text will get rendered beneath the cell.

Go ahead and try executing this cell.

The cell below is a `Code` cell. Go ahead and click it, then execute it.

In [1]:
# x here is a data container which is called a variable
x = 1 
print(x)

1

Global variables are shared between cells. Try executing the cell below:

In [2]:
y = 2 * x
print(y)

2

### Notebook Shortcuts Cheatsheet

There are a few keyboard shortcuts you should be aware of to make your notebook experience more pleasant.<br>To escape editing of a cell, press `Esc`.<br>Escaping a `Markdown` cell won't render it, so make sure to execute it if you wish to render the markdown.<br>Notice how the highlight color switches back to blue when you have escaped a cell.

You can navigate between cells by pressing your arrow keys.<br>Executing a cell automatically shifts the cell cursor down 1 cell if one exists, or creates a new cell below the current one if none exist.

* To place a new cell below the current one, press `B`.
* To place a new cell above the current one, press `A`.
* To delete a cell, press `D` twice.
* To convert a cell to `Markdown` press `M`. Note you have to be in `Esc` mode.
* To convert it back to `Code` press `Y`. Note you have to be in `Esc` mode.

Get familiar with these keyboard shortcuts, they really help!

You can restart a notebook and clear all cells by clicking `Kernel -> Restart & Clear Output`.<br>If you don't want to clear cell outputs, just hit `Kernel -> Restart`.

By convention, Jupyter notebooks are expected to be run from top to bottom.<br>Failing to execute some cells or executing cells out of order can result in errors.<br>After restarting the notebook, try running the `y = 2 * x` cell 2 cells above and observe what happens.

After you have modified a Jupyter notebook for one of the assignments by modifying or executing some of its cells, remember to save your changes!<br>You can save with the `Command/Control + S` shortcut or by clicking `File -> Save and Checkpoint`.

This has only been a brief introduction to Jupyter Notebooks, but it should be enough to get you up and running on the assignments for this course.

## A Note on the Python Version we would be using

We'll be using Python 3.7 or higher for this course. You can check your Python version at the command line by running `python --version`.

In [3]:
!python --version

Python 3.10.9

## Programming Introduction using Python

Regardless of the programming language, there exists basic concepts across all programming languages.
Examples of these concepts are:
1. **Variable.**
2. **Data Types and Structures.**
3. **Operators.**
4. **Basic Data Manipulation for the Different Datatypes.**
4. **Flow Control Structures (Conditionals and loops).**
5. **Functional Programming.**

### 1. Variables

* *Variables are containers for storing data values.*<br>
* *Variables are created using a declaration or keyword.*<br>
* *Variable names are alphanumeric, they may contain letters (a-z) and numbers (0-9). They can also include underscores in Python.*<br>
* *Variables can hold values of any data type.*<br>
* ***This value may change during program execution.***

* Good examples for variable names
```python
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
```

* Bad/Illegal examples for variable names
```python
2myvar = "John"
my-var = "John"
my var = "John"
```

### 2. Data Types and Structures

* Text Type: *String* -> ***str***<br>
* Numeric Types: *Numbers* -> ***int, float, complex***<br>
* Sequence Types: *Simple Data Structures* -> ***list, tuple, range***<br>
* Mapping Type: *Key-Value Data Structure* -> ***dict***<br>
* Set Types: *Multi-Value Structure* -> ***set***<br>
* Boolean Type: *True-False Values* -> ***bool***

* Examples variable for the different data types
```python
x = "Hello World"                            # str
x = 20                                       # int
x = 20.5                                     # float
x = 1j                                       # complex
x = ["apple", "banana", "cherry"]            # list
x = ("apple", "banana", "cherry")            # tuple
x = range(6)                                 # range
x = {"name" : "John", "age" : 36}            # dict
x = {"apple", "banana", "cherry"}            # set
x = True                                     # bool
```

* Function to get the type of a variable
```python
type(x)                                              # x is the variable in question
```

In [4]:
# Change the value of x below and see the changes in data type
x = 20
print(type(x))

<class 'int'>

### 3. Operators

#### i. Arithmetic Operators

| Operator | <div style="width:350px">Name</div> | Example |
| :-: | :- | :-: |
| + | Addition | x + y |
| - | Subtraction | x - y |
| * | Multiplication | x * y |
| / | Division | x / y |
| % | Modulus | x % y |
| ** | Exponentiation | x ** y |
| // | Floor division | x // y |

#### ii. Comparison Operators

| Operator | <div style="width:350px">Name</div> | Example |
| :-: | :- | :-: |
| == | Equal | x == y |
| != | Not equal | x != y |
| > | Greater than | x > y |
| < | Less than | x < y |
| >= | Greater than or equal to | x >= y |
| <= | Less than or equal to | x <= y |

#### iii. Logical Operators

| Operator | <div style="width:350px">Description</div> | Example |
| :- | :- | :- |
| and | Returns True if both statements are true | x < 2 and  x < 4 |
| or | Returns True if one of the statements is true | x < 6 or x < 8 |
| not | Reverse the result, returns False if the result is true | not(x < 9 and x < 10) |

#### iv. Membership Operators

| Operator | <div style="width:350px">Description</div> | Example |
| :- | :- | :- |
| in | Returns True if a sequence with the specified value is present in the object | x in y |
| not in | Returns True if a sequence with the specified value is not present in the object | x not in y |

### 4. Basic Data Manipulation for the Different Datatypes

#### i. Numbers

Numbers can be one of these 3 options:
- Integers.
- Floats.
- Complex numbers.

In [5]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [6]:
# convert from int to float:
a = float(x)
print('a = ', a)
print('Type of a = ', type(a))

a =  1.0
Type of a =  <class 'float'>

In [7]:
#convert from float to int:
b = int(y)
print('b = ', b)
print('Type of b = ', type(b))

b =  2
Type of b =  <class 'int'>

In [8]:
#convert from int to complex:
c = complex(x)
print('c = ', c)
print('Type of c = ', type(c))

c =  (1+0j)
Type of c =  <class 'complex'>

#### ii. Booleans

***Booleans*** are ***True*** or ***False*** values, these can be very useful in many cases.

In [9]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [10]:
# Most Values are True
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [11]:
# Some Values are False
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

#### iii. Strings

- **Strings** in Python are indicated by a text surrounded by a single or double quotation marks `''` / `""`.
- **Strings** are considered arrays of characters, but in Python a single character is not a data type, so a single character is just a string of length **1**.

In [12]:
# REMEBER THAT INDEXES IN PYTHON START WITH 0 NOT 1
a = "Hello, World!"
print(a[1])

e

In [13]:
# To get the length of a String
a = "Hello, World!"
print(len(a))

13

In [14]:
# Check if text exists in a String
txt = "Hello, World!"
print("Hi" in txt)

False

- You can do an operation that is called ***"Slicing"*** on ***Strings***, which is basically extracting only a specific part of it.

In [15]:
# Between two indexes of the String 
a = "Hello, World!"
print(a[2:5])

llo

In [16]:
# From the start to a certain index 
a = "Hello, World!"
print(a[:5])

Hello

In [17]:
# From the end to a certain index 
a = "Hello, World!"
print(a[7:])

World!

### INFORMATION ABOUT THE FOLLOWING DATA TYPES

There are four array data types in the Python programming language:
- ***List*** is a array which is *\*ordered\** and *\*changeable\**. **Allows duplicate members**.
- ***Tuple*** is a array which is *\*ordered\** and *\*unchangeable\**. **Allows duplicate members**.
- ***Set*** is a array which is *\*unordered\**, *unchangeable\**, and unindexed. **No duplicate members**.
- ***Dictionary*** is a array which is *\*ordered\** and *\*changeable\**. **No duplicate members**.

#### iv. Lists

- ***Lists*** are created using `[]` bracets.
- Length of a ***List*** can be determined jsut like *Strings* using `len()`.

In [18]:
# Example of len() on a list
thislist = ["tshirt", "pants", "shorts"]
print(len(thislist))

3

- Since ***Lists*** are indexed, each value has an index, you can access each value using its index number.
- ***Slicing*** can be also applied here, just like *Strings*.

In [19]:
# Example of a list access
thislist = ["tshirt", "pants", "shorts", "dress", 'skirt']
print('thislist[0] = ', thislist[0])
print('thislist[-1] = ', thislist[-1])  # -1 here means the last element in the list
print('thislist[2:4] = ', thislist[2:4]) # List splicing produces another list

thislist[0] =  tshirt
thislist[-1] =  skirt
thislist[2:4] =  ['shorts', 'dress']

- Values in a ***List*** can be changed using the *index* and a different value.

In [20]:
# Example of value change in a list
thislist = ["tshirt", "pants", "shorts"]
print(thislist)
thislist[1] = "skirt"
print(thislist)

['tshirt', 'pants', 'shorts']
['tshirt', 'skirt', 'shorts']

- *New items* can be added to a ***List*** and there are multiple ways to do so.

In [21]:
# Using insert, which needs the required index and the value
thislist = ["tshirt", "pants", "shorts"]
thislist.insert(2, "skirt")
print(thislist)

['tshirt', 'pants', 'skirt', 'shorts']

In [22]:
# Using append, which add items to the end of the List
thislist = ["tshirt", "pants", "shorts"]
thislist.append("skirt")
print(thislist)

['tshirt', 'pants', 'shorts', 'skirt']

In [23]:
# You can also use extend, using another List or any other iterable structure like Tuples, Sets or Dictionaries
thislist = ["tshirt", "pants", "shorts"]
thatlist = ["dress", 'skirt']
thislist.extend(thatlist)
print(thislist)

['tshirt', 'pants', 'shorts', 'dress', 'skirt']

- *Elements* can be removed from ***List*** using a couple of ways as well.

In [24]:
# Using remove, which removes an element using its value
thislist = ["tshirt", "pants", "shorts"]
thislist.remove("pants")
print(thislist)

['tshirt', 'shorts']

In [25]:
# Using pop, which removes the last element in a List
thislist = ["tshirt", "pants", "shorts"]
thislist.pop()
print(thislist)

['tshirt', 'pants']

- `sort()` can be used to arrange a list

In [26]:
# Example of sort() on a List
thislist = [1, 50, 15, 32, 23]
thislist.sort()
print(thislist)

[1, 15, 23, 32, 50]

In [27]:
# Example of sort() descendingly on a List
thislist = [1, 50, 15, 32, 23]
thislist.sort(reverse=True)
print(thislist)

[50, 32, 23, 15, 1]

#### v. Tuples

- ***Tuples*** are created using `()` bracets.
- Length of a ***Tuple*** can be determined just like *Strings* and *Lists* using `len()`.

In [28]:
# Example of len() on a Tuple
thistuple = ("tshirt", "pants", "shorts")
print(len(thistuple))

3

- Accessing values in a ***Tuple*** is again the same as *Lists* and *Strings*.

In [29]:
# Example of a Tuple access
thistuple = ("tshirt", "pants", "shorts", "dress", "skirt")
print('thistuple[0] = ', thistuple[0])
print('thistuple[-1] = ', thistuple[-1])  # -1 here means the last element in the list
print('thistuple[2:4] = ', thistuple[2:4]) # List splicing produces another list

thistuple[0] =  tshirt
thistuple[-1] =  skirt
thistuple[2:4] =  ('shorts', 'dress')

- Since ***Tuples*** cannot be changes or in other words *immutable*, one cannot add or remove elements from them.

#### vi. Sets

- ***Sets*** are created using `{}` bracets.
- Length of a ***Sets*** can be determined using, you guessed right, `len()`.

In [30]:
# Example of len() on a Tuple
thisset = {"tshirt", "pants", "shorts"}
print(len(thisset))

3

- Since ***Sets*** are unindexed there is no direct way to access their values.

- *New items* can be added to a ***Set*** and there is a couple of ways to do so.

In [31]:
# Using add(), which needs only a value to be added the the Set
thisset = {"tshirt", "pants", "shorts"}
thisset.add("skirt")
print(thisset)

{'skirt', 'shorts', 'tshirt', 'pants'}

In [32]:
# Using update(), using another Set or any other iterable structure like Lists, Tuples or Dictionaries
thisset = {"tshirt", "pants", "shorts"}
thatset = {"dress", 'skirt'}
thisset.update(thatset)
print(thisset)

{'shorts', 'skirt', 'pants', 'dress', 'tshirt'}

- *Elements* can be removed from a ***Set*** using multiple ways as well.

In [33]:
# Using remove, which removes an element using its value (Gives an error if element is not in the Set)
thisset = {"tshirt", "pants", "shorts"}
thisset.remove("pants")
print(thisset)

{'shorts', 'tshirt'}

In [34]:
# Using dicard(), which removes an element using its value (Doesn't give an error if element is not in the Set)
thisset = {"tshirt", "pants", "shorts"}
thisset.discard("pants")
print(thisset)

{'shorts', 'tshirt'}

In [35]:
# Using pop, which removes a random element in a Set
thisset = {"tshirt", "pants", "shorts", "dress", "skirt"}
thisset.pop()
print(thisset)

{'shorts', 'pants', 'dress', 'tshirt'}

#### vii. Dictionaries

- ***Dictionaries*** are created using `{}` bracets just like *Sets*, but ***Dictionaries*** have a **Key:Value** pair structure.
- Length of a ***Dictionaries*** can be determined using, you guessed right, `len()`.

In [36]:
# Example of len() on a Tuple
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(len(thisdict))

3

- Accessing values in a ***Dictionary*** is alittle different, you need to use the **key** to the **value**.

In [37]:
# Example of a Dictionary access
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print("thisdict['name'] = ", thisdict['name'])

thisdict['name'] =  Bob

- Accessing keys in a ***Dictionary*** can be done using `keys()`

In [38]:
# Example of a Dictionary keys access
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict.keys())

dict_keys(['name', 'age', 'level'])

- Accessing values in a ***Dictionary*** can be done using `values()`

In [39]:
# Example of a Dictionary values access
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict.values())

dict_values(['Bob', 21, 2])

- Values in a ***Dictionary*** can be changed using the *key* and a different value.

In [40]:
# Example of value change in a Dictionary
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict)
thisdict["name"] = "Jeff"
print(thisdict)

{'name': 'Bob', 'age': 21, 'level': 2}
{'name': 'Jeff', 'age': 21, 'level': 2}

- New **Key:Value** pair can be easily added to a ***Dictionary***.

In [41]:
# Example of adding a new pair to Dictionary
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict)
thisdict["programme"] = "E&E"
print(thisdict)

{'name': 'Bob', 'age': 21, 'level': 2}
{'name': 'Bob', 'age': 21, 'level': 2, 'programme': 'E&E'}

- In ***Dictionary***, you can remove items using a couple of ways.

In [42]:
# Using pop() to remove a specific item
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict)
thisdict.pop("level")
print(thisdict)

{'name': 'Bob', 'age': 21, 'level': 2}
{'name': 'Bob', 'age': 21}

In [43]:
# Using popitem() to remove the latest added item
thisdict = {
    "name": "Bob", 
    "age": 21, 
    "level": 2
}
print(thisdict)
thisdict.popitem()
print(thisdict)

{'name': 'Bob', 'age': 21, 'level': 2}
{'name': 'Bob', 'age': 21}

### 5. Flow Control Structures

#### - Sequential Flow

This is the generally used flow in every programming language, just like following a an instruction guide step by step, the code is compiled line by line.
- Every line of code we written so far are basic sequential flows.

<img style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 150px;"
     src='\assets\seq flow.png' 
     alt='seq flow'
/>

#### - Conditional Flow

In this type of flow control a condition is presented along side paths of action for whether the condition is met or not.<br>
Conditional statements are the very essentional in every piece of code, it makes the flow of action somewhat dynamic.

<img style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 350px;"
     src='\assets\cond flow.png' 
     alt='seq flow'
/>

In [44]:
# Example of a basic conditional statement
# You can change the values of a and b to test this conditional
a = 3
b = 5
if b > a:                        # The keyword 'if' is followed by a statement that results in either True or False (NOTICE THE COLON)
    print("b is greater than a") # NOTICE THAT WE USED INDENTATION HERE TO INDICATE THAT THIS STATEMENT FALLS UNDER THE IF CONDITION

b is greater than a

- Comparison, logical and membership operators can be used in conditional statements

In [45]:
# Example of elif conditional statement
# You can change the values of a and b to test this conditional
a = 9
b = 5
if b > a:
    print("b is greater than a")  
elif a > b:                      # The keyword 'elif' is followed by a statement that results in either True or False
    print("a is greater than b")

a is greater than b

In [46]:
# Example of else conditional statement
# You can change the values of a and b to test this conditional
a = 3
b = 5
if b > a:
    print("b is greater than a") 
else:
    print("b is smaller than a")

b is greater than a

- You can of course mix between both elif and else statements.

In [47]:
# Example of else conditional statement
# You can change the values of a and b to test this conditional
a = 3
b = 5
if b > a:
    print("b is greater than a")
elif a == b:
    print("a is equal to b")
else:
    print("b is smaller than a")

b is greater than a

#### - Iteriative Flow

A loop is a structure where the code executes a statement **repeatedly** as long as the condition is met.<br>
Loops save you from writing the same pieces of code multiple times \*wink\*

<img style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 350px;"
     src='\assets\iter flow.png' 
     alt='seq flow'
/>

- In Python there are 2 types of ***Loops***, ***`while`*** Loops and ***`for`*** Loops.

In [48]:
# Example of a while loop
i = 1
while i < 3: # The keyword 'while' is followed by a statement that results in either True or False (NOTICE THE COLON)
    print(i)
    i += 1   # i here works as an iterator, so we increament it so that the loop can actually stop instead of going on infinitely

1
2

- A ***`for`*** loop is used for iterating over a sequence, it can work over **Lists**, **Sets**, **Tuples**, **Dictionaries** or even **Strings**.

In [49]:
# Example of a for loop
thislist = ["tshirt", "pants", "shorts"]
for item in thislist: # The keyword 'for' is followed a variable name to indeicate the current item in the sequence (this case the list) then `in` then list variable name
    print(item)       # What is needed to be done using each of the items in the sequence

tshirt
pants
shorts

- Using `range()` as iterable in a ***`for`***.

In [50]:
# Example of a for loop using range()
for i in range(3): # NOTICE THE COLON
    print(i)       # Notice that a range iterable startes with 0 not 1!

0
1
2

In [51]:
# Example of a for loop using range() with a starting and ending value
for i in range(3, 5):
    print(i)      # Notice that 5 was not included in the values printed

3
4

In [52]:
# Example of a for loop using range() with a starting value, ending value and step size
for i in range(10, 21, 5):
    print(i)

10
15
20

### 6. Functional Programming

***Functions*** are basically *blocks* of code that **only** run when they are being called.<br>
***Functions*** can be given data to use and process (**Paramenters**).<br>
***Functions*** can return data that has been processed (**Return value**).<br>

- To define a ***Function*** you need to use the keyword ***`def`*** and give the function a meaningful name

In [53]:
# Example of a Function 
def my_function():               # NOTICE THE COLON
    print("This is my function") # Just like conditionals and loops, you need indentations to show that the following lines belong to the function

my_function()

This is my function

In [54]:
# Example of a Function with a parameter
def my_function(name):               
    print("My name is " + name)  # Parameters can be used inside the function as variables

my_function("Bob")               # When data is given to a function call, it is called an argument

My name is Bob

In [55]:
# Example of a Function with a parameter default value
def my_function(name="Jeff"):               
    print("My name is " + name)  

my_function()               # Default values are used then the function is not given any data when it is called

My name is Jeff

In [56]:
# Example of a Function with a return value
def my_function(name):             
    message = "My name is " + name
    return message                   # Instead of just printing the message like before, one can `return` the whole String as a result of the function when being called

function_message = my_function("Bob")
print(function_message)

My name is Bob